{% extends 'index.html' %}
{% load static %}
{% block header %} {% endblock %}
{% block body %}
    <!-- Header Area wrapper Starts -->

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">
            Vote Nigeria@60 Brand
          </h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div>
          <div class="row pt-4">
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex flex-column align-items-center"
            >
              <img class="vote-logo" src="{% static "assets/img/coa.png" %}" alt="" />
              <a href="#" class="btn btn-common mt-4 mb-2">Vote this logo</a>
              <p class="mb-2 pointer text-underline">
                Read the Design Rationale
              </p>

              <div class="mb-2 myProgress">
                <div id="myBar"></div>
              </div>
              <p class="mb-5"><b>200 Votes</b></p>
            </div>
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex flex-column align-items-center"
            >
              <img class="vote-logo" src="{% static "assets/img/coa.png"%}" alt="" />
              <a href="#" class="btn btn-border mt-4 mb-2">Logo Selected</a>
              <p class="mb-2 pointer text-underline">
                Read the Design Rationale
              </p>

              <div class="mb-2 myProgress">
                <div id="myBar1"></div>
              </div>
              <p class="mb-5"><b>200 Votes</b></p>
            </div>
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex flex-column align-items-center"
            >
              <img class="vote-logo" src="{% static "assets/img/coa.png"%}" alt="" />

              <a href="#" class="btn btn-common mt-4 mb-2">Vote this logo</a>
              <p class="mb-2 pointer text-underline">
                Read the Design Rationale
              </p>

              <div class="mb-2 myProgress">
                <div id="myBar2"></div>
              </div>
              <p class="mb-5"><b>200 Votes</b></p>
            </div>
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex flex-column align-items-center"
            >
              <img class="vote-logo" src="{% static "assets/img/coa.png" %}" alt="" />
              <a href="#" class="btn btn-common mt-4 mb-2">Vote this logo</a>
              <p class="mb-2 pointer text-underline">
                Read the Design Rationale
              </p>

              <div class="mb-2 myProgress">
                <div id="myBar3"></div>
              </div>
              <p class="mb-5"><b>200 Votes</b></p>
            </div>
          </div>

          <div class="text-center">
            <p class="text-green">Total Vote count</p>
            <h3>3,090</h3>
          </div>

          <div class="mt-4">
            <div class="mt-4">
              <input placeholder="Full Name*" type="text" required="" />
            </div>
          </div>

          <div class="mt-4">
            <div class="mt-4">
              <input placeholder="Phone Number*" type="text" required="" />
            </div>
          </div>

          <div class="mt-4">
            <div class="mt-5 d-flex justify-content-between">
              <div>
                <a
                  href="#"
                  class="btn btn-common"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  <i class="lni-facebook mr-2 mt-1"></i> Sign In to Complete
                  vote</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="text-center">
              Thank you for voting. <br />
              <b>Your vote has been recorded.</b>
            </p>
          </div>
          <div class="modal-footer d-flex flex-row justify-content-center">
            <button type="button" class="btn btn-common">
              View Current Results
            </button>
          </div>
        </div>
      </div>
    </div>

    <style>
      .myProgress {
        width: 100%;
        background-color: #00583550;
        margin: 0 5px;
        border-radius: 5px;
      }

      #myBar {
        width: 30%;
        height: 10px;
        background-color: #005835;
        border-radius: 5px;
      }
      #myBar1 {
        width: 30%;
        height: 10px;
        background-color: #005835;
        border-radius: 5px;
      }
      #myBar2 {
        width: 30%;
        height: 10px;
        background-color: #005835;
        border-radius: 5px;
      }
      #myBar3 {
        width: 30%;
        height: 10px;
        background-color: #005835;
        border-radius: 5px;
      }
    </style>

{% endblock %}

{% block customjs %}
 <script>
      new TimezZ("#timer", {
        date: "Oct 1, 2020",
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#announcement").nivoLightbox();
      });
    </script>
    <script>
      (function () {
        "use strict";

        // define variables
        var items = document.querySelectorAll(".timeline li");

        // check if an element is in viewport
        // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
        function isElementInViewport(el) {
          var rect = el.getBoundingClientRect();
          return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <=
              (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <=
              (window.innerWidth || document.documentElement.clientWidth)
          );
        }

        function callbackFunc() {
          for (var i = 0; i < items.length; i++) {
            if (isElementInViewport(items[i])) {
              items[i].classList.add("in-view");
            }
          }
        }

        // listen for events
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
      })();
    </script>
    <script>
      $("#myModal").on("shown.bs.modal", function () {
        $("#myInput").trigger("focus");
      });
    </script>
    <script>

      function move() {

          var elem = document.getElementById("myBar");
          var elem1 = document.getElementById("myBar1");
          var elem2 = document.getElementById("myBar2");
          var elem3 = document.getElementById("myBar3");
          var width = 30;
          var width1 = 20;
          var width2 = 50;
          var width3 = 10;
          var id = setInterval(frame, 10);
          function frame() {
              elem.style.width = width + "%";
              elem1.style.width = width1 + "%";
              elem2.style.width = width2 + "%";
              elem3.style.width = width3 + "%";
            }
          }
      window.onload=move();
    </script>
{% endblock %}