{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Print</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
      <header class="header">
          <img src="{% static "images/coa.png" %}">
          <h1 class="title">Nigeria @ 60 Submissions</h1>
      </header>
    <section class="submission">
      <div class="details">
        <h1>#1</h1>
        <div class="teams">
          <p><b>Team:</b> Yes</p>
          <p><b>Member Names</b></p>
          <ul>
            <li>Faruk Shuaibu</li>
            <li>Anas Yazid</li>
          </ul>
        </div>
        <div class="applicant">
          <p><b>Applicant Details</b></p>
          <p><b>Name:</b> Abdulhakeem Mustapha</p>
          <p><b>Email:</b> abdulhakeemmustap@gmail.com</p>
          <p><b>Phone Number:</b> +2348199999999</p>
          <p><b>State of Origin:</b> Kano</p>
          <p><b>Contact Address:</b> No. 1 Maganda Rd. Kano, Nigeria.</p>
          <p><b>Kind Of ID:</b> NIN</p>
          <p><b>ID Number</b> 22334454434322EI</p>
        </div>
      </div>
      <div class="entry">
        <p><b>Entry Type:</b>Photography</p>
        <p><b>Entry</b></p>
        <ul>
          <li>
              <a href="#"><img src="https://via.placeholder.com/150"></a>
          </li>
          <li>
            <a href="#"><img src="https://via.placeholder.com/150"></a>
        </li>
        <li>
            <a href="#"><img src="https://via.placeholder.com/150"></a>
        </li>
        </ul>
      </div>
    </section>

    <section class="submission">
        <div class="details">
          <h1>#2</h1>
          <div class="teams">
            <p><b>Team:</b> No</p>
          </div>
          <div class="applicant">
            <p><b>Applicant Details</b></p>
            <p><b>Name:</b> Abdulhakeem Mustapha</p>
            <p><b>Email:</b> abdulhakeemmustap@gmail.com</p>
            <p><b>Phone Number:</b> +2348199999999</p>
            <p><b>State of Origin:</b> Kano</p>
            <p><b>Contact Address:</b> No. 1 Maganda Rd. Kano, Nigeria.</p>
            <p><b>Kind Of ID:</b> NIN</p>
            <p><b>ID Number</b> 22334454434322EI</p>
          </div>
        </div>

        <div class="entry">
          <p><b>Entry Type:</b>Poetry</p>
          <p><b>Entry</b></p>
          <ul>
            <li>
              You know how this is: if I look at the crystal moon, at the red
              branch of the slow autumn at my window, if I touch near the fire the
              impalpable ash or the wrinkled body of the log, everything carries
              me to you, as if everything that exists, aromas, light, metals, were
              little boats that sail toward those isles of yours that wait for me.
            </li>
            <li>
              <p><b>Video Link:</b><a href="Http://youtu.be/ddsvydysyydv/">Http://youtu.be/ddsvydysyydv/</a></p>
            </li>
          </ul>
        </div>
      </section>

      <section class="submission">
        <div class="details">
          <h1>#3</h1>
          <div class="teams">
            <p><b>Team:</b> Yes</p>
            <p><b>Member Names</b></p>
            <ul>
              <li>Faruk Shuaibu</li>
              <li>Anas Yazid</li>
            </ul>
          </div>
          <div class="applicant">
            <p><b>Applicant Details</b></p>
            <p><b>Name:</b> Abdulhakeem Mustapha</p>
            <p><b>Email:</b> abdulhakeemmustap@gmail.com</p>
            <p><b>Phone Number:</b> +2348199999999</p>
            <p><b>State of Origin:</b> Kano</p>
            <p><b>Contact Address:</b> No. 1 Maganda Rd. Kano, Nigeria.</p>
            <p><b>Kind Of ID:</b> NIN</p>
            <p><b>ID Number</b> 22334454434322EI</p>
          </div>
        </div>

        <div class="entry">
          <p><b>Entry Type:</b> 4 word Slogan</p>
          <p><b>Entry</b></p>
          <ul>
            <li>Great Nigeria, Great People.</li>
          </ul>
        </div>
      </section>
  </body>
</html>
